body {
    font-family: system-ui, -apple-system, sans-serif;
    margin: 0 0.5rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, .hr {
    display: block;
    margin: 0.3rem 0;
}

pre, code {
    font-family: monospace;
}

code {
    padding: 0 0.3rem; 
    border-radius: 0.3rem;
    color: var(--accent);
    background-color: color(var(--background) alpha(0.5));
}

pre, blockquote {
    display: block;
    padding: 0 0.3rem;
}

pre code {
    display: block;
    margin: 0;
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: color(var(--background) alpha(0.5));
}

ul, ol {
    margin: 0 1rem;
    padding: 0;
}

/* <hr> is not implemented in minihtm. make similar element with <div> */
.hr {
    background-color: color(var(--foreground) alpha(0.5));
}