body {
    margin: 0.5em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
}
p, pre, blockquote {
    margin: 0.5em 0 0 0;
}
pre, code {
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}
/* code property inside pre block */
pre code {
    color: var(--accent);
    background-color: inherit;
    display: inherit;
    padding: inherit;
    border-radius: inherit;
    border-style: inherit;
}
code {
    background-color: color(var(--background) alpha(0.5));
    display: inline;
    padding: 0, 0.3em, 0, 0.3em;
    border-radius: 0.3em;
    border-style: solid;
}
pre, blockquote {
    background-color: color(var(--background) alpha(0.7));
    display: block;
    padding : 0.3em;
    border-radius: 0.3em;
    border-style: solid;
}
ul, ol {
    margin: 0 1em;
    padding: 0;
}